@import url("./reset.css");

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "DungGeunMo";
}

/*header*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5rem;

  background-color: black;
  color: white;

  font-size: 2.3rem;
}
