/* 임시로 이미지 크기 지정*/
/* img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
} */
/* global css */

@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  width: 100%;

  font-family: "Cafe24Supermagic-Bold-v1.0";
}

/* header */
.header {
  height: 5rem;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 2rem;

  background-color: black;
  color: white;
}

.header__title {
  font-size: 2rem;
}

/* preveiw (미리보기) 영역 */
/* .preview-section {
  width: 100%;
  /* padding: 2rem; */

.preview-section {
  display: flex;

  width: 100%;
  padding: 0 2rem;
  gap: 1.5rem;

  overflow-x: scroll;
}

.preview-section > img {
  width: 20rem;
  height: 25rem;
}
